@model ThomasHinesGuitar.Models.AdminMain
@{
    ViewBag.Title = "AdminMainPage";
}

@using (Html.BeginForm("AdminMainPage", "AdminMain"))
{
    <h2>AdminMainPage</h2>
    <div class="form-group">
        @Html.LabelFor(m => m.Contact)
        @Html.TextBoxFor(m => m.Contact, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location)
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })

    </div>
    <button type="submit" value="Save" class="btn btn-primary">Submit</button>

    <div class="row">
        <div class="col-lg-3">
            @Html.DisplayFor(m => m.Contact)
            @Html.DisplayFor(m => m.Location)
        </div>

    </div>
}

@*@{
    if (ViewData["Result"] != "" && ViewData["Result"] != null)
    {
        ViewData["Result"] = null;
        <script type="text/javascript" language="javascript">
                    alert("Details saved Successfully");
        </script>
        }
}*@