@model IEnumerable<ThomasHinesGuitar.Models.AdminMain>

@{
    ViewBag.Title = "AdminCheckPage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>AdminCheckPage</h2>

<p>
    @Html.ActionLink("Create New", "AdminMainPage")
</p>
@* This view is to check that we can access the last field of a database. *@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contact)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location) 
        </th>
    </tr>
    <tr>
        <td>
            @* Returns the last entry of the database to the view. *@
            @Html.DisplayFor(model => model.LastOrDefault().Contact)
        </td>
        <td>
            @Html.DisplayFor(model => model.LastOrDefault().Location)
        </td>
    </tr>

</table>
