@model IEnumerable<ThomasHinesGuitar.Models.CustomerOrder>

@{
    ViewBag.Title = "customerOrderCheck";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2>Customer Order Index</h2>

<p>
    @Html.ActionLink("Create New", "CustomerOrderView")
</p>
<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Customer Name
        </th>
        <th>
            Date Added
        </th>
        <th>
            Order Number
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
