@model ThomasHinesGuitar.Models.CustomerOrder
@{
    ViewBag.Title = "Customer Order Info";
}

<h2>Customer Order Info</h2>
@using (Html.BeginForm("CustomerOrderView", "CustomerOrder"))
{
    <div class=" =" form-group>
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })


    </div>
    <div class=" =" form-group>
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    @*<div class=" =" form-group>
        @Html.ValueFor(x => x.orderNumber)
    </div>
    <div class=" =" form-group>
        @Html.ValueFor(x => x.dateAdded)  
    </div>*@
    <button type="submit" value="Save" class="btn btn-primary">Submit</button>
}